@use "../settings" as *;

//FLEX HELPERS
.u-flex {
    display: flex;
}

.u-flex__col {
    display: flex;
    flex-direction: column;
}

.u-flex--lg {
    display: flex;
    flex-direction: column;

    @include screen-sm {
        flex-direction: row;
    }
}

.u-flex__col--lg {
    display: flex;
    flex-direction: row;

    @include screen-sm {
        flex-direction: column;
    }
}