// HELPERS / FONT
@use '../settings' as *;
@use 'size' as *;
@use 'sass:map';
@use 'sass:list';

/* Font Family Class */
@each $name-font, $family in map.get($fonts, "family") {
    .u-f--#{$name-font}{
        font-family: $family;
    }
}

/* Font Weight Class */
@each $name-font, $family in map.get($fonts, "weight") {
    .u-f--#{$name-font}, .u-f--#{$name-font} p {
        font-weight: $family;
    }
}

/* Font Size Class */
@each $name-font, $family in map.get($fonts, "size") {
    .u-f--#{$name-font}{
        font-size: rem( list.nth($family, 1) );
        @include tablet {
            font-size: rem(list.nth($family, 2));
        }
        @include tablet-h {
            font-size: rem(list.nth($family, 3));
        }
        @include screen-sm {
            font-size: rem(list.nth($family, 4));
        }
        @include screen-md {
            font-size: rem(list.nth($family, 5));
        }
        @include screen-lg {
            font-size: rem(list.nth($family, 6));
        }
        @include screen-lg {
            font-size: rem(list.nth($family, 7));
        }
    }
}

