@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.banner {
  background-position: right;
  background-repeat: no-repeat;

  &__wrapper {
    width: 100%;
    height: 100%;
    padding-top: rem(60);
    padding-bottom: rem(60);

    @extend %padding_horizontal_main;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include screen-sm {
      display: flex;
      flex-direction: row;
      align-items: center;

      padding-top: rem(100);
      padding-bottom: rem(100);
    }

    &-title {
      p {
        @extend .u-f--h1, .u-f--bold;
        margin: 0;
        line-height: 1em;
      }

      .breadcrumbs {
        margin-top: rem(10);
        display: none;

        @include screen-sm {
          display: block;
        }
      }
    }

    img {
      margin-bottom: rem(30);
      width: rem(85);
      height: rem(85);

      @include screen-sm {
        width: 95px;
        height: 95px;
        margin-bottom: 0;
        margin-right: rem(15);
      }
    }
  }
}
