@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

// Layout
.jackpot {
  @extend %margin_horizontal_main, %margin_bottom_large;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include screen-sm {
    flex-direction: row;
  }

  .splide__slide {
    margin-bottom: 25px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include screen-sm {
      width: calc(30% - rem(60));
    }

    p:last-of-type {
      color: #a0a2a4;
    }

    a {
      display: flex;
      align-items: center;

      span {
        color: setcolor("primary");
        margin: 0;
        margin-right: rem(5);
      }
    }
  }

  &__carousel {
    margin-top: rem(30);

    @include screen-sm {
      margin-top: 0;
      width: 70%;
    }
  }

  &__card {
    &-image {
      margin-top: rem(60);
      background-color: setcolor("black", "dark2");
      border-radius: rem(10) rem(10) 0 0;

      img {
        margin-top: rem(-60);
        object-fit: cover;
        width: 100%;
      }
    }

    &-content {
      background-color: setcolor("black");
      border-radius: 0 0 rem(10) rem(10);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding: rem(10);
      height: rem(120);

      @include screen-sm {
        padding: rem(15);
        height: auto;
      }
      @include screen-md {
        padding: rem(20);
        height: auto;
      }

      p:last-of-type {
        @extend .u-f--h3, .u-f--bold;
      }

      button {
        position: absolute;
        bottom: rem(-22);
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: rem(40);

        @include tablet {
          width: 70%;
          height: rem(45);
        }

        img {
          display: none;

          @include mobile {
            display: inline-block;
          }

        }
      }
    }
  }
}

// Navigation
.jackpot {
  .splide__arrows::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    z-index: 1;
    width: rem(80);
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(setcolor("black", "dark1"), 0) 0%,
      rgba(setcolor("black", "dark1"), 1) 100%
    );
  }

  .splide__arrow--prev {
    left: initial;
    right: 34px;
  }

  .splide__arrow--next {
    right: 0;
  }
}
