@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.faq {
    @extend %margin_horizontal_main;

    &__title {
        p {
            @extend .u-f--h2, .u-f--bold;
        }
    }

    &__accordion {
        &-item {
            background-color: setcolor('black', 'dark2');
            border-radius: rem(5);
            margin-bottom: rem(5);

            .head {
                display: flex;
                justify-content: space-between;
                align-items: center;

                padding: rem(15);

                p {
                    @extend .u-f--bold;
                    margin: 0;
                }

                .accorArrow {
                    cursor: pointer;
                    transform: rotate(-90deg);
                }
            }

            .body {
                height: 0;
                opacity: 0;
                padding: 0;
                border-top: 1px solid setcolor('black', 'dark1');

                p {
                    color: #7f8285;
                    max-width: 33%;
                }
            }
        }
    }
}