@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.m-slots--finder {
  @extend %margin_horizontal_main;
  @extend %margin_top_medium;

  display: flex;

  .o-filter--slots {
    width: 25%;
  }
  .o-grid--games {
    width: 75%;
    margin-left: rem(20);
  }
}

