@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;


.gridRoulette {
	@extend %margin_horizontal_main, %margin_bottom_large;

	display: grid;
	gap: rem(15);

	@include screen-sm {
		grid-template-columns: repeat( 2, 1fr );
	}

	.card {
		&__image {
			margin-bottom: rem(-5);
			img {
				object-fit: contain;
				width: 100%;
			}
		}

		&__content {
			position: relative;

			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			text-align: center;

			background-color: setcolor('black', 'dark4');
			height: auto;
			padding: rem(30) rem(20);
			border-radius: rem(5);

			@include screen-sm {
				padding: rem(60) 0;
				height: rem(335);
			}

			&-title {
				@extend .u-f--h1, .u-f--bold;
			}

			&-subtitle {
				@extend .u-f--h3, .u-f--bold;
				color: #a4a6a8;
				max-width: 100%;

				@include screen-sm {
					max-width: 75%;
				}
			}

			&-desc {
				color: #a4a6a8;
				max-width: 100%;

				@include screen-sm {
					max-width: 75%;
				}
			}
		}

		&__footer {
			position: absolute;
			bottom: rem(-20);
			left: 50%;
			transform: translateX(-50%);
		}
	}
}