@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.gridPoker {
  @extend %margin_horizontal_main;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  row-gap: rem(150);
  column-gap: rem(30);

  margin-top: rem(150);

  .card {
    position: relative;
    background-color: setcolor("black", "dark2");
    padding: rem(160) rem(50) rem(50) rem(50);
    border-radius: rem(10);

    &__img {
      position: absolute;
      top: rem(-127);
      left: 50%;
      transform: translateX(-50%);

      height: rem(255);
      width: rem(255);
      background-color: setcolor("black", "dark1");
      border-radius: rem(1000);
      border: rem(20) solid setcolor("black");

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 80%;
      }
    }

    &__content {
      &-title {
        @extend .u-f--h2, .u-f--bold;
        text-align: center;
        margin-bottom: rem(30);
      }

      &-table {
        hr {
          margin: rem(10) 0;
          border-color: setcolor("black", "dark5");
        }
      }

      &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p,
        span {
          margin: 0;
        }

        p span:first-of-type {
          margin-right: rem(10);
        }

        p:last-of-type span {
          color: setcolor('primary');
        }

        p:last-of-type {
          display: flex;
          align-items: center;
        }

        p:last-of-type span:last-of-type {
          @extend .u-f--h3, .u-f--bold;
        }
      }
    }
  }
}
