@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.grids__container {
  @extend %margin_horizontal_main, %margin_bottom_small;
  display: flex;
  flex-direction: column;
  row-gap: rem(15);

  @include screen-sm {
    flex-direction: row;
    column-gap: rem(15);
    row-gap: 0;
  }
}

.gridHalf {
  width: 100%;
  padding: 10px;
  height: 100%;

  background-color: setcolor("black");
  border-radius: rem(5);

  @include tablet {
    padding: rem(30);
  }
  @include screen-sm {
    padding: rem(15);
  }
  @include screen-md {
    padding: rem(30);
    width: 50%;
  }

  &:first-of-type {
    margin-bottom: rem(10);

    @include screen-sm {
        margin-right: rem(5);
        margin-bottom: 0;
    }
  }

  &:last-of-type {

    @include screen-sm {
      margin-left: rem(5);
    }
  }

  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: 10px 0;

    .js-arrow__grid {
      cursor: pointer;
    }

    &-wrapper {
      display: flex;
      align-items: center;

      & > p {
        color: setcolor("primary");
        margin: 0;
        padding-right: 10px;
      }

      .icon__title {
        margin-left: rem(20);

        img {
          display: none;
          @include screen-sm {
            display: inline-block;
          }
        }
      }
    }
  }

  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 10px;

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto;
    }
    @include screen-sm {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto auto;
    }

    &-item {
      position: relative;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }

      &:hover .gridHalf__grid-item--hover {
        opacity: 1;
        transition: all 0.3s ease;
      }

      &--hover {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        width: 100%;
        height: 100%;

        padding-top: rem(40);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        transition: all 0.3s ease;

        button {
          margin-bottom: rem(15);

          img {
            height: 12.6px;
            width: 16px;
          }
        }
      }
    }
  }
}
