@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.imageTextTorneo {
  @extend %margin_horizontal_main;
  margin-top: 180px;
  padding: rem(30);

  position: relative;
  z-index: 0;

  background-image: linear-gradient(
    to right,
    setcolor("black", "dark1"),
    setcolor("black")
  );
  border-radius: rem(10);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include screen-sm {
    flex-direction: row;
    padding: 0;
  }

  &__content {
    width: 100%;
    padding-bottom: rem(15);
    text-align: center;

    @include screen-sm {
      width: 40%;
      padding: rem(60);
      text-align: left;
    }

    p:last-of-type {
      color: #a0a2a4;
    }
    a {
      span {
        @extend .u-f--bold;
        font-size: rem(12);
        color: setcolor("primary");
        margin: 0;
        padding-right: rem(5);
      }

      img {
        height: rem(12);
      }
    }
  }

  &__image {
    position: static;
    width: 100%;

    @include screen-sm {
      position: absolute;
      right: 0;
      top: -80px;
      z-index: 1;
      width: 60%;
    }

    img {
      object-fit: cover;
      width: 100%;
    }
  }
}
