@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.imageText {
  @extend %margin_horizontal_main, %margin_bottom_large;
  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows: auto auto;

  column-gap: rem(130);
  grid-template-areas:
  "img"
  "content";

  @include screen-sm {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "content img";
  }

  &__image {
    grid-area: img;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    grid-area: content;

    display: flex;
    flex-direction: column;
    text-align: center;

    @include screen-sm {
      text-align: left;
    }

    & > * {
      margin-top: 0;
      margin-bottom: 0;
      & + * {
        margin-top: rem(20);
      }
    }

    &-btns {
      margin-top: rem(15);

      @include screen-sm {
        margin-top: rem(30);

        display: flex;
        flex-direction: column;
      }

      button {
        margin-top: 10px;

        @include screen-sm {
          width: fit-content;
        }

        span {
          font-size: rem(12);
          color: setcolor('primary');
        }
      }
    }
  }
}
