@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.slot__bar {
    padding-left: rem(30);
    height: rem(60);

    display: flex;
    justify-content: space-between;

    &-wrapper {
        display: flex;
        align-items: center;
    }

    &-item {
        display: flex;
        margin-right: rem(15);

        P:first-of-type {
            padding-right: rem(5);
        }
    }

    &--left p {
        margin: 0;
    }

    &--right {
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        button:not(.slot__bar-btn--last) {
            margin: 0 rem(10);
            img {
                width: rem(20);
                height: rem(20);
            }
        }

        .slot__bar-btn--last {
            height: 100%;
            width: rem(60);
            background-color: setcolor('black', light);
        }
    }
}