@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.addon {
  @extend %padding_horizontal_main;
  padding-top: rem(15);
  padding-bottom: rem(15);

  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.9);

  .addon__wrapper:first-of-type {
    display: none;

    @include screen-sm {
      display: flex;
    }
  }
  .addon__wrapper:last-of-type {
    display: flex;
    justify-content: center;

    @include screen-sm {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-right: rem(30);

    p {
      @extend .u-f--bold, .u-f--h4;
      margin: 0;
      padding-left: rem(5);
      color: #a0a2a4;
    }
  }
}
