@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.o-filter--slots {

  &-header {
    height: rem(60);
    width: 100%;
    display: flex;
  }

  &-left {
    width: 33%;
    height: 100%;
    background-color: #1c2026;
    border-radius: rem(5) rem(5) 0 0;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
      @extend .u-f--h3, .u-f--bold;
      padding-left: rem(5);
    }
  }

  &-right {
    width: 67%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: transparent;

    div {
      cursor: pointer;

      background-color: #2d3239;
      height: 34px;
      width: 34px;

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 0 100px 100px 0;

      img {
        transform: rotate(180deg);
      }
    }
  }

  &-container {
    background-color: #1c2026;
    padding: rem(30) rem(15);
  }

  &-search {
    position: relative;
    height: rem(55);

    img {
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      left: rem(5);
    }

    input {
      position: relative;
      z-index: 0;

      width: 100%;
      height: 100%;
      padding-left: rem(70);

      background-color: #2d3239;
      border-radius: rem(30);

      color: white;
      @extend .u-f--h4, .u-f--bold;

      &::placeholder {
        color: white;
      }
    }
  }

  &-general {
    display: flex;
    align-items: center;
    margin: rem(20) 0;

    button {
      @extend .u-f--bold, .u-f--h5;
      width: 33%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }

    button:not(:last-of-type) {
      background-color: #2d3239;
    }

    button:nth-of-type(2) {
      margin: 0 10px;
    }

    button:last-of-type {
      background-color: setcolor("primary");
    }
  }

  &-filter {
    margin: rem(15) 0;
  }

  &-title {
    height: rem(45);
    background-color: #2d3239;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: rem(5);
    padding: 0 rem(15);

    p {
      @extend .u-f--h5, .u-f--bold;
      margin: 0;
    }

    img {
      transform: rotate(90deg);
    }
  }

  &-wrapper {
    margin: 10px 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 10px;
  }

  &-tag {
    cursor: pointer;
    width: 100%;
    height: rem(35);
    background-color: #2d3239;
    border-radius: rem(5);

    display: flex;
    align-items: center;
    padding: rem(5);

    img {
      margin-right: 10px;
    }
  }
}
