@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.filter__promo {
  margin-top: rem(30);
  margin-bottom: rem(30);
  margin-left: rem(30);

  display: flex;
  align-items: center;
  flex-direction: column;

  .splide__track {
    width: 100%;
  }

  &-mobile {
    display: flex;

    @include tablet {
      display: none;
    }
  }

  &-desktop {
    display: none;

    @include tablet {
      display: flex;

      button {
        padding: 0 rem(15);
        margin: 0 rem(2);
      }
    }
  }

  &-wrapper {
    button {
      cursor: pointer;
      background-color: setcolor("black");
      height: rem(45);

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: rem(14);

      @extend .u-f--bold;
      color: setcolor("gray", "dark");

      &:hover,
      &:focus,
      &:active {
        background-color: setcolor("black", "dark4");
        color: setcolor("gray", "light");
      }
    }

    button:first-of-type {
      border-radius: rem(5) 0 0 rem(5);
    }

    button:last-of-type {
      border-radius: 0 rem(5) rem(5) 0;
    }
  }
}
