@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.gridGames {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  gap: rem(5);
  width: 100%;

  @include screen-sm {
    grid-template-columns: repeat(5, 1fr);
    gap: rem(15);
  }

  &__item {
    position: relative;
    z-index: 0;

    & > img {
      position: relative;
      top: 0;
      right: 0;
      z-index: 0;

      border-radius: 7px;
      overflow: hidden;

      width: 100%;
      object-fit: contain;
    }

    &-title {
      position: absolute;
      width: 100%;
      top: 0;
      right: 0;
      z-index: 2;

      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: rem(15);

      p {
        margin: 0;
        opacity: 0;
        transition: all 0.3s ease;
      }

      .is-favourite.fav {
        cursor: pointer;

        svg {
          cursor: pointer;
        }
        svg g path {
          fill: setcolor("primary");
          opacity: 1;
        }
      }
    }

    &:hover {
      .gridGames__item-title {
        p {
          opacity: 1;
          transition: all 0.3s ease;
        }
      }

      .gridGames__item-hover {
        opacity: 1;
        transition: all 0.3s ease;
      }
    }

    &-hover {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      width: 100%;
      height: 100%;

      padding-top: rem(40);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: rgba(0, 0, 0, 0.7);
      opacity: 0;
      transition: all 0.3s ease;

      button {
        margin-bottom: rem(15);
      }
    }
  }
}