@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.grid__promo {

  &-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: row;
    column-gap: rem(15);
    row-gap: rem(50);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      column-gap: rem(15);
      row-gap: rem(50);
    }
    @include screen-sm {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
      column-gap: rem(15);
      row-gap: rem(50);
    }
  }

  &-card {

    &--top img {
      width: 100%;
      object-fit: contain;
    }

    &--bottom {
        position: relative;
        background-color: setcolor('black');
        padding: rem(30);
        border-radius: 0 0 rem(10) rem(10);

        @include screen-sm {
          padding: rem(30) rem(30) rem(60);
        }
    }
  }

  &-title {
    @extend .u-f--h3, .u-f--bold;
  }

  &-subtitle {
    @extend .u-f--h4, .u-f--bold;
    color: setcolor('primary');
  }

  &-body {
    @extend .u-f--bold;
    color: setcolor('gray');
  }

  &-btn {
    position: absolute;
    bottom: rem(-22);
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
  }
}
