@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.poker {
  &__section {
    transition: all 0.3s ease;
    display: none;

    &.is-on {
      transition: all 0.3s ease;
      display: block;
    }
  }
}

.menuPoker {
  padding: rem(25) 0;
  background-color: setcolor("black", "dark2");
  box-shadow: rem(1) rem(17) rem(22) rem(2) rgba(0, 0, 0, 1);
  border-top: 1px solid setcolor("black", "dark5");

  &__wrapper {
    justify-content: center;
    align-items: center;

    &:first-of-type {
      display: none;

      @include tablet-h {
        display: flex;
      }

      .menuPoker__btn {
        padding: 0 rem(30);

        @include screen-lg {
          padding: 0 rem(80);
        }
      }
    }

    &:last-of-type {
      display: flex;

      @include tablet-h {
        display: none;
      }

      .menuPoker__btn {
        padding: 0 rem(15);
        margin: 0;

        display: flex;
        justify-content: center;

        img {
          display: none;
        }
      }
    }
  }

  &__btn {
    position: relative;

    display: flex;
    align-items: center;

    background-color: transparent;
    cursor: pointer;

    &:not(:last-of-type) {
      border-right: 1px solid setcolor("black", "dark5");
    }

    &:hover,
    &:active,
    &:focus,
    &.is-active {
      span {
        color: setcolor("primary");
        transition: all 0.5s ease;
      }

      img {
        opacity: 1;
        transition: all 0.5s ease;
      }

      .icon {
        stroke: setcolor("primary");
        transition: all 0.5s ease;
      }
    }

    .icon {
      stroke: #a0a2a4;
      fill: none
    }

    span {
      @extend .u-f--bold;
      color: #a0a2a4;
      margin: 0;
      padding-left: rem(10);
    }

    img {
      position: absolute;
      bottom: rem(-30);
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
    }
  }
}
