// SETTINGS / BREAKPOINTS
@use "sass:map";

$breakpoints: (
  mobile: 576px,
  tablet: 768px,
  tablet-h: 1024px,
  screen-sm: 1280px,
  screen-md: 1440px,
  screen-lg: 1600px,
  screen-xl: 1900px,
);

@mixin mobile {
  @media only screen and (min-width: #{map.get($breakpoints, 'mobile')}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{map.get($breakpoints, 'tablet')}) {
    @content;
  }
}

@mixin tablet-h {
  @media only screen and (min-width: #{map.get($breakpoints, 'tablet-h')}) {
    @content;
  }
}

@mixin screen-sm {
  @media only screen and (min-width: #{map.get($breakpoints, 'screen-sm')}) {
    @content;
  }
}

@mixin screen-md {
  @media only screen and (min-width: #{map.get($breakpoints, 'screen-md')}) {
    @content;
  }
}

@mixin screen-lg {
  @media only screen and (min-width: #{map.get($breakpoints, 'screen-lg')}) {
    @content;
  }
}

@mixin screen-xl {
  @media only screen and (min-width: #{map.get($breakpoints, 'screen-xl')}) {
    @content;
  }
}