@use '../settings/colors' as *;
@use '../settings/fonts' as *;
@use '../helper/size' as *;
@use 'sass:map';

// colors
$body_bg: setcolor('black', 'dark1');
$body_color: setcolor('white');

// fonts
$body_font_size: rem(10);
$body_font_size_ipad: rem(12);
$body_font_size_desktop: rem(14);

$body_font_family: setfont("family", "primary");
$body_font_weight: setfont("weight", "regular");

// paragraph and headings
$paragraph_margin: rem(15);
$h1_margin: rem(20);
$h2_margin: rem(20);
$h3_margin: rem(20);
$h4_margin: rem(20);
$h5_margin: rem(20);
$h6_margin: rem(20);

// buttons
$buttons_font_family: setfont("family", "primary");
$buttons_font_weight: setfont('weight', 'bold');
$buttons_border_radius: rem(100);

$buttons_font_size: rem(10);
$buttons_font_size_ipad: rem(12);
$buttons_font_size_desktop: rem(12);

$buttons_padding: rem(10) rem(10) ;
$buttons_padding_ipad: rem(15) rem(15);
$buttons_padding_desktop: rem(15) rem(20);

// inputs
$inputs_font_family: setfont("family", "primary");
$inputs_font_weight: setfont('weight', 'bold');
$inputs_color: setcolor('secondary', 'dark');

$inputs_border_radius: rem(20);

$inputs_font_size: rem(14);
$inputs_font_size_ipad: rem(16);
$inputs_font_size_desktop: rem(14);

$inputs_padding: 0 rem(10);
$inputs_padding_ipad: 0 rem(15);
$inputs_padding_desktop: 0 rem(20);

// dark layer
$dark_layer_opacity: 0.25;

// max-width
$max_width: rem(1600);
$max_width_large: rem(1400);
$max_width_padding: rem(15);
$max_width_padding_medium: rem(50);
$max_width_padding_large: 0;
