@use '../helper/size' as *;

:root {

    --horizontal-main-xs: #{rem(20)};
    --horizontal-main-sm: #{rem(20)};
    --horizontal-main-md: #{rem(60)};
    --horizontal-main-lg: #{rem(80)};
    --horizontal-main-xl: #{rem(120)};
    --horizontal-main-2xl: #{rem(140)};
    --horizontal-main-3xl: #{rem(150)};

    --horizontal-large-xs: #{rem(40)};
    --horizontal-large-sm: #{rem(40)};
    --horizontal-large-md: #{rem(80)};
    --horizontal-large-lg: #{rem(120)};
    --horizontal-large-xl: #{rem(300)};
    --horizontal-large-2xl: #{rem(300)};

    --vertical-small-xs: #{rem(20)};
    --vertical-small-sm: #{rem(20)};
    --vertical-small-md: #{rem(20)};
    --vertical-small-lg: #{rem(30)};
    --vertical-small-xl: #{rem(30)};
    --vertical-small-2xl: #{rem(30)};

    --vertical-medium-xs: #{rem(30)};
    --vertical-medium-sm: #{rem(30)};
    --vertical-medium-md: #{rem(30)};
    --vertical-medium-lg: #{rem(60)};
    --vertical-medium-xl: #{rem(60)};
    --vertical-medium-2xl: #{rem(60)};

    --vertical-large-xs: #{rem(30)};
    --vertical-large-sm: #{rem(30)};
    --vertical-large-md: #{rem(30)};
    --vertical-large-lg: #{rem(120)};
    --vertical-large-xl: #{rem(120)};
    --vertical-large-2xl: #{rem(120)};

}