// Buttons

@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

// button normal red
.btn__red {
  @extend %buttons;
  color: setcolor("white");
  background-color: setcolor("primary");
  &:hover {
    color: setcolor("gray", "lighter");
    background-color: setcolor("primary", "light");
  }
}

.btn__red--glow {
  box-shadow: 0px 0px rem(20) 0px setcolor("primary");
}

.btn__blue {
  @extend %buttons;
  color: setcolor("white");
  background-color: setcolor("secondary");

  &:hover {
    color: setcolor("gray", "lighter");
    background-color: setcolor("secondary", "light");
  }
}

.btn__white {
  @extend %buttons;
  background-color: white;

  &:hover {
    background-color: setcolor("gray");
  }

  span {
    color: black;
  }
}

/* Button remove filter */
.btn__gray--red {
  @extend %buttons;
  color: setcolor("primary");
  background-color: #1c2026;
  padding: rem(10);
  &:hover {
    background-color: #292929;
  }
}

.btn__block {
  @extend %buttons;
  height: rem(60);
  border-radius: rem(5);
}

// button normal black_lighter
.btn__black--lighter {
  @extend %buttons;
  color: setcolor("white");
  background-color: setcolor("black", "dark4");
}

// button ghost ==========

// button ghost red
.btn__ghost--red {
  @extend %buttons;
  color: setcolor("primary");
  background-color: transparent;
  border: 2px solid setcolor("primary");
}

// button no_button ==========

// button no_button red
.btn_no_button--red {
  @extend %buttons;
  padding: 0;
  color: setcolor("primary");
  background-color: transparent;
}

// button variations ==========

// button size_big
.btn__size--big {
  padding: rem(20) rem(30);
  @include tablet-h {
    padding: rem(30) rem(40);
  }
}

// button icon_right
.btn__icon--right {
  position: relative;

  span {
    padding-right: rem(10);
  }

  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @include screen-sm {
      font-size: rem(12);
    }
    @include screen-md {
      right: 7px;
      font-size: rem(14);
    }
  }
}

// button border
.btn_border {
  @extend %buttons;
  background: transparent;
  color: setcolor("white");
  border: 2px solid setcolor("primary");
  &:hover {
    color: setcolor("secondary");
    background-color: setcolor("primary");
  }
}

.btn_border_secondary {
  @extend %buttons;
  background-color: setcolor("white");
  color: setcolor("secondary");
  border: 2px solid setcolor("secondary");
  &:hover {
    color: setcolor("white");
    background-color: setcolor("secondary", "dark");
  }
}

// button border
.btn_white {
  @extend %buttons;
  color: setcolor("secondary");
  background-color: setcolor("white");
  &:hover {
    color: setcolor("secondary");
    background-color: setcolor("primary");
  }
}

.btn_border_white {
  @extend %buttons;
  background: transparent;
  color: setcolor("white");
  border: 2px solid setcolor("white");
  &:hover {
    color: setcolor("secondary");
    background-color: setcolor("white");
  }
}

// link
.btn_link {
  font-weight: setfont("weight", "semibold");
  font-size: rem(16);
  line-height: 1em;
  text-decoration: underline;

  color: setcolor("primary");

  transition: all 0.3s;

  @include tablet {
    font-size: rem(16);
  }

  @include screen-sm {
    font-size: rem(18);
  }

  @include screen-md {
    font-size: rem(20);
  }

  &:hover {
    color: setcolor("primary", "dark");
  }
}

.btn_link--secondary {
  @extend .btn_link;
  color: setcolor("secondary");
  &:hover {
    color: setcolor("secondary", "dark");
  }
}

.btn_link--white {
  @extend .btn_link;
  color: setcolor("white");
  &:hover {
    color: setcolor("primary");
  }
}
