@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.icon__title a, .icon__title {
    display: flex;
    align-items: center;

    img {
      height: rem(14);
      width: rem(14);
    }

    p {
      margin: 0;
      padding-left: rem(5);
    }
  }