@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;


// Layout


// Navigation

.splideArrows--right {
	.splide__arrow {
		background: none;
		border-radius: 0;
		opacity: 1;
		z-index: 10;

		svg {
			height: rem(20);
			width: rem(20);

			@include screen-lg {
				height: rem(30);
				width: rem(30);
			}
		}
	}

	.splide__arrow--prev {
		left: 94%;

		@include screen-lg {
			left: 93%;
		}
	}

	.splide__arrow--next {
		right: 1%;

		@include screen-lg {
			right: 2%;
		}
	}
}