@use "../settings" as *;
@use "../helper" as *;

%buttons {
  display: inline-block;

  font-family: $buttons_font_family;
  font-weight: $buttons_font_weight;
  font-size: $buttons_font_size;

  line-height: 1em;

  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;

  padding: $buttons_padding;
  border-radius: $buttons_border_radius;

  transition: all 0.3s;

  @include tablet {
    font-size: $buttons_font_size_ipad;
    padding: $buttons_padding_ipad;
  }

  @include screen-sm {
    font-size: 12px;
    padding: $buttons_padding_ipad;
  }

  @include screen-sm {
    font-size: 12px;
    padding: $buttons_padding_desktop;
  }

  @include screen-md {
    font-size: $buttons_font_size_desktop;
    padding: $buttons_padding_desktop;
  }


	& > * {
		vertical-align: middle;

		& + * {
			margin-left: .25em;
		}
	}

	svg {
		font-size: inherit;
	}
}
