@use '../settings' as *;

// Horizontal - main
%margin_horizontal_main {
  margin-left: var(--horizontal-main-xs);
  margin-right: var(--horizontal-main-xs);
  @include mobile {
    margin-left: var(--horizontal-main-sm);
    margin-right: var(--horizontal-main-sm);
  }
  @include tablet {
    margin-left: var(--horizontal-main-md);
    margin-right: var(--horizontal-main-md);
  }
  @include tablet-h {
    margin-left: var(--horizontal-main-lg);
    margin-right: var(--horizontal-main-lg);
  }
  @include screen-sm {
    margin-left: var(--horizontal-main-xl);
    margin-right: var(--horizontal-main-xl);
  }
  @include screen-md {
    margin-left: var(--horizontal-main-2xl);
    margin-right: var(--horizontal-main-2xl);
  }
  @include screen-lg {
    margin-left: var(--horizontal-main-3xl);
    margin-right: var(--horizontal-main-3xl);
  }
  @include screen-xl {
    max-width: $max_width;
    margin-left: 0;
    margin-right: 0;
    margin: 0 auto;
  }
}

%margin_left_main {
  margin-left: var(--horizontal-main-xs);
  @include mobile {
    margin-left: var(--horizontal-main-sm);
  }
  @include tablet {
    margin-left: var(--horizontal-main-md);
  }
  @include tablet-h {
    margin-left: var(--horizontal-main-lg);
  }
  @include screen-sm {
    margin-left: var(--horizontal-main-xl);
  }
  @include screen-md {
    margin-left: var(--horizontal-main-2xl);
  }
  @include screen-lg {
    margin-left: var(--horizontal-main-3xl);
  }
  @include screen-xl {
    max-width: $max_width;
    margin-left: 0;
    margin-right: 0;
    margin: 0 auto;
  }
}

%padding_horizontal_main {
  padding-left: var(--horizontal-main-xs);
  padding-right: var(--horizontal-main-xs);
  @include mobile {
    padding-left: var(--horizontal-main-sm);
    padding-right: var(--horizontal-main-sm);
  }
  @include tablet {
    padding-left: var(--horizontal-main-md);
    padding-right: var(--horizontal-main-md);
  }
  @include tablet-h {
    padding-left: var(--horizontal-main-lg);
    padding-right: var(--horizontal-main-lg);
  }
  @include screen-sm {
    padding-left: var(--horizontal-main-xl);
    padding-right: var(--horizontal-main-xl);
  }
  @include screen-md {
    padding-left: var(--horizontal-main-2xl);
    padding-right: var(--horizontal-main-2xl);
  }
  @include screen-lg {
    padding-left: var(--horizontal-main-3xl);
    padding-right: var(--horizontal-main-3xl);
  }
  @include screen-xl {
    max-width: $max_width;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
}

// Horizontal - large
%margin_horizontal_large {
  padding-left: var(--horizontal-large-xs);
  padding-right: var(--horizontal-large-xs);
  @include mobile {
    padding-left: var(--horizontal-large-sm);
    padding-right: var(--horizontal-large-sm);
  }
  @include tablet {
    padding-left: var(--horizontal-large-md);
    padding-right: var(--horizontal-large-md);
  }
  @include tablet-h {
    padding-left: var(--horizontal-large-lg);
    padding-right: var(--horizontal-large-lg);
  }
  @include screen-sm {
    padding-left: var(--horizontal-large-xl);
    padding-right: var(--horizontal-large-xl);
  }
  @include screen-md {
    padding-left: var(--horizontal-large-2xl);
    padding-right: var(--horizontal-large-2xl);
  }
}

// margenes verticales - small
%margin_top_small {
  padding-top: var(--vertical-small-xs);
  @include mobile {
    padding-top: var(--vertical-small-sm);
  }
  @include tablet {
    padding-top: var(--vertical-small-md);
  }
  @include tablet-h {
    padding-top: var(--vertical-small-lg);
  }
  @include screen-sm {
    padding-top: var(--vertical-small-xl);
  }
  @include screen-md {
    padding-top: var(--vertical-small-2xl);
  }
}

%margin_bottom_small {
  padding-bottom: var(--vertical-small-xs);
  @include mobile {
    padding-bottom: var(--vertical-small-sm);
  }
  @include tablet {
    padding-bottom: var(--vertical-small-md);
  }
  @include tablet-h {
    padding-bottom: var(--vertical-small-lg);
  }
  @include screen-sm {
    padding-bottom: var(--vertical-small-xl);
  }
  @include screen-md {
    padding-bottom: var(--vertical-small-2xl);
  }
}

// margenes verticaes - medium
%margin_top_medium {
  padding-top: var(--vertical-medium-xs);
  @include mobile {
    padding-top: var(--vertical-medium-sm);
  }
  @include tablet {
    padding-top: var(--vertical-medium-md);
  }
  @include tablet-h {
    padding-top: var(--vertical-medium-lg);
  }
  @include screen-sm {
    padding-top: var(--vertical-medium-xl);
  }
  @include screen-md {
    padding-top: var(--vertical-medium-2xl);
  }
}

%margin_bottom_medium {
  padding-bottom: var(--vertical-medium-xs);
  @include mobile {
    padding-bottom: var(--vertical-medium-sm);
  }
  @include tablet {
    padding-bottom: var(--vertical-medium-md);
  }
  @include tablet-h {
    padding-bottom: var(--vertical-medium-lg);
  }
  @include screen-sm {
    padding-bottom: var(--vertical-medium-xl);
  }
  @include screen-md {
    padding-bottom: var(--vertical-medium-2xl);
  }
}

// margenes verticaes - large
%margin_top_large {
  padding-top: var(--vertical-large-xs);
  @include mobile {
    padding-top: var(--vertical-large-sm);
  }
  @include tablet {
    padding-top: var(--vertical-large-md);
  }
  @include tablet-h {
    padding-top: var(--vertical-large-lg);
  }
  @include screen-sm {
    padding-top: var(--vertical-large-xl);
  }
  @include screen-md {
    padding-top: var(--vertical-large-2xl);
  }
}

%margin_bottom_large {
  padding-bottom: var(--vertical-large-xs);
  @include mobile {
    padding-bottom: var(--vertical-large-sm);
  }
  @include tablet {
    padding-bottom: var(--vertical-large-md);
  }
  @include tablet-h {
    padding-bottom: var(--vertical-large-lg);
  }
  @include screen-sm {
    padding-bottom: var(--vertical-large-xl);
  }
  @include screen-md {
    padding-bottom: var(--vertical-large-2xl);
  }
}

%margin_bottom_negative {
  margin-bottom: calc(var(--vertical-small-xs) * -1);
  @include mobile {
    margin-bottom: calc(var(--vertical-small-sm) * -1);
  }
  @include tablet {
    margin-bottom: calc(var(--vertical-small-md) * -1);
  }
  @include tablet-h {
    margin-bottom: calc(var(--vertical-small-lg) * -1);
  }
  @include screen-sm {
    margin-bottom: calc(var(--vertical-small-xl) * -1);
  }
  @include screen-md {
    margin-bottom: calc(var(--vertical-small-2xl) * -1);
  }
}